* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post {
    width: 70%;
    text-align: start;
    padding: 1rem;
    margin: 2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .5rem;


    display: flex;
    flex-direction: column;
}

.details {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.link {
    color: white;
    font-style: italic;
    margin-top: .7rem;
    text-decoration: none;
    text-align: center;

    width: 25%;
    padding: .4rem;
    background-color: blue;
    border-radius: 1rem;
}