#root {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;

  background-color: rgb(148, 148, 233);
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: white;
}



